# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
#/core

# Ignore contrib modules, that are managed via Composer.
#/modules/contrib

# Ignore packages, that are managed via Composer.
#/vendor

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore local configuration.
sites/development.services.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# Ignore server specific files.
.htaccess
